# MySQL - UNION_054
MYSQL_HOST=103.70.139.163
MYSQL_USER=bamulro
MYSQL_PASSWORD=<your_password>
MYSQL_DATABASE=UNION_054

# MariaDB - Sales
MARIADB_HOST=192.168.0.115
MARIADB_PORT=3306
MARIADB_USER=frappe
MARIADB_PASSWORD=<your_password>
MARIADB_DATABASE=Bamul_sales_data

# Oracle
ORACLE_USER=apps_readonly
ORACLE_PASSWORD=<your_password>
ORACLE_CONNECT_STRING=115.124.111.4:1521/BMLPROD
ORACLE_LIB_DIR=/opt/oracle/instantclient_23_4

# SQL Server
MSSQL_USER=sa
MSSQL_PASSWORD=<your_password>
MSSQL_SERVER=10.46.161.46
MSSQL_DATABASE=BAMUL

# Server
PORT=3001
